.Media{
  height: 400px;
}

.Example{
  border-radius: 20px;
}

.categories{
  margin-top: 5px;
}


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,200&display=swap');

/* 1. Common ------------------------------*/
/* 2. Form-1 ------------------------------*/
/* 3. Home ------------------------------*/
/* 4. Account ------------------------------*/
/* 5. Cart ------------------------------*/
/* 6. Orders ------------------------------*/
/* 7. Product ------------------------------*/

go-to-cart-button

/* 1. Common ------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, small, strong, ol, ul, li, form, label, table, caption, tr, td, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
}

footer, header, menu, nav, section {
  display: block;
}

body {
  font-size: 1rem;
  min-width: 320px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {

  padding: 0;
  margin: 0;
}

h2 {
  font-size: 5.6rem;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: none;
  font-family: 'Montserrat', sans-serif;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none !important; }
a:active { text-decoration: none; }

a:focus,
a:hover {
  outline: none;
}
button{
  background: transparent;
  outline: none;
  border: none;
}

button:focus {
  outline: none !important;
}

section {
  padding: 80px 0 100px 0;
  position: relative;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

*{
   font-family: 'Montserrat', sans-serif;
}



/* 2. Form-1 ------------------------------*/





body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
h1{
  margin: 0;
}

.form-1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-register{
  width: 400px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

.form-1-title{
  font-weight: 400;
  margin-bottom: 3rem;
  font-size: 1.8rem;
}
.form-1-div{
  position: relative;
  height: 48px;
  margin-bottom: 1rem;
}
.form-1-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid #DADCE0;
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form-1-label{
  position: absolute;
  left: 12.8px;
  top: 12.8px;
  padding: 0 .25rem;
  background-color: #fff;
  color: #80868B;
  font-size: 13px;
  transition: .3s;
  font-weight: normal;
}
.form-1-button{
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  background-color: #A6CC3B;
  color: #fff;
  font-size: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
  margin-bottom: 1rem;
}

.form-1-button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
.form-1 p{
  font-size: 1rem;
}
.error{
  font-size: 0.8rem;
  font-weight: normal;
  color: red;
  border: 1px solid #f00;
}

#mobile-number-error{
  border: transparent;
  margin: 0.1rem 0;
}
.form-1-input:focus {
  color: #000;
}

.secondform{
  display: none;
}


.form-1-input:focus + .form-1-label{
  top: -.5rem;
  left: .8rem;
  color: #A6CC3B;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}


.form-1-input:not(:placeholder-shown).form-1-input:not(:focus)+ .form-1-label{
  top: -.5rem;
  left: .8rem;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}


.form-1-input:focus{
  border: 1.5px solid #A6CC3B;
}



/* 2. Home------------------------------*/

.logo h1{
  font-size: 23px;
  margin:0 0 0 0;
  color: #212529;
  font-family: 'Montserrat', sans-serif;
}

.nav{
  align-items: center;
}

.search-btn{
  border: none ;
  outline: none;
  border-radius: .5rem;
  z-index: 2;
  background-color: transparent;
}
.search-btn:focus{
  border:none !important;
  outline: none !important;
}
.search-box .bi{
  color: #A6CC3B;
  font-size: 20px;
}

.search-box{
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
}
.has-search .form-control {
    padding-left: 3rem;
    height: 5.4rem;
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232) !important;

}

.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header.home{
  border-bottom: none;
}

.header.home .row{
  align-items: center;
}




.profile-box{
  width: 3rem;
  height: 3rem;
  border-radius: 0.7rem;
  background: url('./assets/images/uiface.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.log-in{
  width: 3rem;
  height: 3rem;
  border-radius: 0.7rem;
  color: #fff;
  background: #A6CC3B;
  display: flex;
  justify-content: center;
  align-items: center;


}
.log-in i{
  font-size: 23px;
  margin-top: -6px;
  margin-left: -6px;
}

.profile-link {
  display: flex;
}

.profile-link p{
  padding: 11px 10px;
  font-size: 1.2rem;
  color: rgb(105, 105, 105);
  font-weight: 400;
  margin: 0 30px 0 0;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3rem;
    height: 3.2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.has-search{
  margin: 0.75rem 0;
  width: 100%;

}
.search-input{
  height: 3.5rem !important;

}

.search-input:focus{
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid rgb(232, 232, 232) !important;
  box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px !important; 

}



.sp-buttons{
  padding-top: -20px !important;
  bottom: 3rem;
}
.sp-button{
  border: 2px solid #A6CC3B !important;
}

.categories-content{
  display: flex;
  justify-content: space-between;
}

.categories-button{
  padding: 8px 15px;
  color: #787777;
  font-size: 14px;
}

.categories-button.active{
  border-color: #A6CC3B;
  color: #A6CC3B;
}



.owl-item{
  padding-top: 9px;
  display: flex !important;
  justify-content: flex-start !important;
}

.owl-carousel{
  width: 100% !important;
}

.slick-slide {
    margin: 0 10px;
    padding: 20px 0;
}
  /* the parent */
  .slick-list {
    margin: 0 -10px;
  }




.categories{
  margin-top: -1.5rem;
}


.section{
  margin-top: 3rem;
}

.product-section .section-title h3{
  padding-left: 15px;
}




.fav-page .product-box{
  margin-right: 1.5rem;
}
.fav-page .product-div{
  margin-top: 3rem;
}

.product-box{
  width: 19.5rem;
  border-radius: 15px;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border : 1px solid  transparent;
}

.product-title h5{
  font-size: 14px;
  color: #333;
  line-height: 20px;
  margin-bottom: 10px;
}

.product-image{
  height: 9.5rem; 
  width: 100%;
  border-radius: 15px 15px 0 0; 
  background-image: url(./assets/images/image1.jpg);
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center center;
}

.section-title{
  margin: 1rem 0 ;
}
.product-div{
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;

}

.product-div .bi-heart.active{
  color: red;
  fill: red;
}
.product-div .fav-icon{
  font-size: 1.2rem;
  padding: 0;
  margin-top: -.5rem;
}
.product-div .fav-icon .bi-heart-fill{
  color: red;
}
.product-div .fav-icon .bi-heart.active{
  color: red;
}
.product-price h6{
  font-size: 18px;
  font-weight: 600;
  color: #303030;
}
.product-desc{
  padding: 10px 0 1px 10px;
  border-radius:0 0 10px 10px;
}
.product-box:hover  {
  box-shadow:  -3px 3px 15px #ebebeb, 
             3px -3px 10px #ffffff,
             3px -3px 10px #f2f2f2, 
             -3px 3px 10px #ffffff;
}

.floating-cart{
  position: fixed;
  bottom: 50px;
  right: 10%;
  background-color: #A6CC3B;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; 
  z-index: 1000000;
}

.cart-count{
  position: absolute;
  top: 0;
  right: 5px;
  background: red;
  font-size: 0.75rem;
  border-radius: 50%;
  padding: 0 5px 0  5px;

}

.floating-cart i{
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) and (max-width: 1044px){
  

.logo h1{
  font-size: 21.6px;

}


}


@media screen and (min-width: 768px) and (max-width: 1023px){
  
  .categories-content{
  display: flex;
  justify-content: space-around;

}

.categories-content{
  display: flex;
  justify-content: space-around;

}
.product-box {
    width: 16rem;
    
}

.logo h1{
  font-size: 21.6px;

}

.cart p {
    font-size: 1.13rem;

}

.nav-menu{
  margin-left: 10px;
}
.floating-cart{
  bottom: 50px;
  right: 5%;
  
}
}

@media screen and (max-width: 767px){
  .product-box{
    width: 100%;
    box-shadow:  -3px 3px 15px #ebebeb, 
             3px -3px 10px #ffffff,
             3px -3px 10px #f2f2f2, 
             -3px 3px 10px #ffffff;
}

.product-image{
  height: 12rem; 

}

.logo h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profile-box{
  margin-bottom: 5px;
  width: 3.3rem;
  height: 3.3rem;
}
.log-in{
  width: 3.3rem;
  height: 3.3rem;
}
.profile-link p{
  display: none;
}


.floating-cart{
  bottom: 50px;
  right: 5%;
  height: 4rem;
  width: 4rem;
  
}
}




@media screen and (min-width:  377px) and (max-width: 420px){
  html{
      font-size: .85rem;
  }
  
  .product-box{
    width: 100%;
    box-shadow:  -3px 3px 15px #ebebeb, 
             3px -3px 10px #ffffff,
             3px -3px 10px #f2f2f2, 
             -3px 3px 10px #ffffff;
}

.product-image{
  height: 12rem; 

}

.logo h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profile-box{
  margin-bottom: 5px;
  width: 3.3rem;
  height: 3.3rem;
}

.profile-link p{
  display: none;
}


.floating-cart{
  bottom: 50px;
  height: 4rem;
  width: 4rem;
  
}









}
@media screen and (min-width: 330px) and (max-width: 376px){
   html{
      font-size: .85rem;
  }
  .product-box{
    width: 100%;
    box-shadow:  -3px 3px 15px #ebebeb, 
             3px -3px 10px #ffffff,
             3px -3px 10px #f2f2f2, 
             -3px 3px 10px #ffffff;
}

.product-image{
  height: 12rem; 

}
.logo h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profile-box{
  margin-bottom: 5px;
  width: 3.3rem;
  height: 3.3rem;
}

.profile-link p{
  display: none;
}



.floating-cart{
  bottom: 50px;
  height: 4rem;
  width: 4rem;
  
}

#floatingCart{
  bottom: 100px;
  right: 5%;
  height: 4rem;
  width: 4rem;
}


  


}
@media screen and (max-width: 329px) {

   html{
      font-size: .75rem;
  }
  .product-box{
    width: 100%;
    box-shadow:  -3px 3px 15px #ebebeb, 
             3px -3px 10px #ffffff,
             3px -3px 10px #f2f2f2, 
             -3px 3px 10px #ffffff;
}

.product-image{
  height: 12rem; 

}

.logo h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profile-box{
  margin-bottom: 5px;
  width: 3.3rem;
  height: 3.3rem;
}

.profile-link p{
  display: none;
}



.floating-cart{
  bottom: 50px;
  height: 4rem;
  width: 4rem;
  
}


  

}


/*-------4.Account------*/

.mobile{
  display: none;
}

.avatar{
  width: 4rem;
  height: 4rem;
  background-image: url('./assets/images/uiface.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
}

.account{
  width: 100%;
  align-items: left;
  padding: 16px 20px ;
  
}
.account p{
  color: rgba(0,0,0,0.5);
  padding: 0 0 3px 0 !important;
  margin: .1rem !important;
  font-size: 15px;
}

.tab-section {
  width: 100%;
  margin: 15px 0 0 0;
  padding: 16px;
  flex-direction: column;

}

.tab-section a{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  text-align: left;

}

.tab-section .nav-link{
  padding: 1rem;
}

.tab-section .nav-link.active .tab-button p , .tab-section .nav-link.active .tab-button i{
  color: #A6CC3B;
}



.tab-section a .tab-button p{
  margin-bottom: 0;
  color: #000;

}

.web-tab {
  display: flex;
  justify-content: space-between;
  color: rgb(105, 105, 105);
}

.tab-head{
  margin-bottom: 25px; 
}


 .log-out {
  color: red;
  padding: 16px;
  width: 100%;
  margin: 15px 0 0 0;

}

.log-out button{
  background: transparent;
  border: none;
  outline: none;
  color: red;
}

.edit-my-info{
  width: 400px;
  margin-top: 30px;
}

.edit-my-info h6{
  color: rgba(0,0,0,0.6);
  font-weight: 400;
  margin-bottom: 0.75rem;

}

.edit-my-info-button{
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  background-color: #A6CC3B;
  color: #fff;
  font-size: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}

.address{
  display: flex;
  justify-content: space-between;
}
.material-icons{
    display: inline-flex;
    vertical-align: top;
    padding-right: 5px;
}

.delivery-button{
  background: transparent;
  border: none;
  outline: none;
  color: #A6CC3B;
  font-size: 14px;
  line-height: 24px;
  margin-top: -8px;

}

.select-delivery{

  
    background: #000;
    display: none;
}

.select-delivery.active{
  display: block;
}

.location-div .material-icons{
  position: absolute;
  right: .8rem;
  font-size: 22px;
  top: .8rem;

}

.modal-data{
   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  z-index: 1050;
    width: 25rem;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
    outline: 0;
    
  padding: 2rem;
}

.button-group{
  margin-top: 2rem;
  justify-content: flex-end;
  font-size: 14px;
}
.button-group button:first-child{

  color: #A6CC3B;
}

.delivery-button:focus{
  outline: none !important;
}

.delivery-box{
  padding: 20px ;
  width: 100%;
  margin-bottom: 20px;
}



.fav-remove-button {
  color: rgb(156, 156, 156);
  padding: 6.4px 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  width: 19.5rem;


}

.delivery-box h6{
  font-size: 15px;
  color: #787777;
  font-weight: 500;
}



.fav-remove .fav-remove-button:hover{
  border: 1px solid #A6CC3B;
  color: #A6CC3B;
}

.delete-address button{
  font-size: 14px;
  font-weight: 450;
  color: rgb(156, 156, 156);
  padding: 5px 0 0 0 ;
}

.tab-pane .product-box{
  margin-bottom: 10px;
  box-shadow: -3px 3px 15px #ebebeb, 3px -3px 10px #ffffff, 3px -3px 10px #f2f2f2, -3px 3px 10px #ffffff;

}





.location-div .material-icons{
  position: absolute;
  right: .8rem;
  font-size: 22px;
  top: .8rem;

}

.form-1-input:focus + .location-div .material-icons{

  color: #A6CC3B;
}


@media screen and (max-width: 767px){
  .mobile{
  display: block;
}
.mobile i{
  width: 100%;
  text-align: center;
}
  .tab-section{
    position: fixed;
    bottom: 0;
    z-index: 1000;
    flex-direction:  row !important;
    justify-content: space-between;
    background: #fff;
  }
  .web-tab{
    display: none;
  }
  .tab-section a{
    width: auto;
  }

  .mobile-tab .bi-person{
    font-size: 25px;

  }

  .tab-section .nav-link{
    padding: 0.5rem;
  }
  .tab-section .nav-link:first-child{
    margin-left:  12px;
    margin-bottom: -1px;

  }

  .tab-head{
    display: none;
  }

  .account.web{
    display: none;
  }
   .mobile .bi-power{
    font-size: 23px;
    color: red;
  }

  .mobile i.fs{
    font-size: 20px;
  }



  button.mobile{
    padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  } 

  .log-out.web{
    display: none;
  }

  .edit-my-info {
    width: 100%;
    margin-top: 1.5rem;
    border: 1px solid #E2D8D8;
    border-radius: 8px;
    padding: 20px;

  }
  #tabs{
    margin-top:2rem !important;
  }

 
  .address{
    display: block;
    text-align: right;
  }
  .fav-remove-button{
    width: 100%;
  }
  .margin-bottom-tab{
    margin-bottom: 100px;
  }
  .tab-section .nav-link.active .tab-button i.bi-person:after{

    content: '';
    position: absolute;
    top: 18px;
    margin-left: -16px;
    background: #A6CC3B;
    height: 6px;
    width: 6px;
    border-radius: 50%;

  }
  .tab-section .nav-link.active .tab-button i.bi-shop:after{

    content: '';
    position: absolute;
    top: 18px;
    margin-left: -14px;
    background: #A6CC3B;
    height: 6px;
    width: 6px;
    border-radius: 50%;

  }

  .tab-section .nav-link.active .tab-button i.bi-geo-alt:after{

    content: '';
    position: absolute;
    top: 18px;
    margin-left: -14px;
    background: #A6CC3B;
    height: 6px;
    width: 6px;
    border-radius: 50%;

  }

  .tab-section .nav-link.active .tab-button i.bi-heart:after{

    content: '';
    position: absolute;
    top: 18px;
    margin-left: -14px;
    background: #A6CC3B;
    height: 6px;
    width: 6px;
    border-radius: 50%;

  }
  
}




/*-------5.Cart------*/

.cart{
  margin-bottom: 100px;
}

.cart-footer{
  position: fixed !important;
  margin-left:16px !important;
  bottom: 20px !important;
  z-index: 1;
}

.cart-footer-container{
  background:rgba(233, 255, 171);
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  border-radius: 15px ;
  
}

.cart-footer-container p{
  margin-bottom: 0;
}

.cart-footer-button , .cart-footer-button :hover , .cart-footer-button:focus , .cart-footer-button:visited {
  color:  #212529;
  font-size: 16px;
}


.cart-head{
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 22px;
}
.cart-box{
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #E2D8D8;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.cart-delete{
  text-align: right;

}

.cart-delete button{
  margin: 10px;
  width: 35px;
  height: 35px;
  line-height: 25px;
  border-radius: 50%;
  background: #A6CC3B;
}
.cart-delete button i{
  font-size: 14px;
  color: #fff;
  
}

.cart-image{
  height: 150px;
  width: 100%;
  border-radius: 15px ; 
  background-size:cover;
  background-repeat: no-repeat; 
  background-position: center center;
  margin: 10px 0;
}

.total-price{
  font-size: 20px;
  font-weight: 600;
}

.product-details-cart{
  text-align: center;
}

.cart-product-name{
  font-size: 13px;
  color: #4D4646;
  font-weight: 600;
  margin-bottom: 0;

}

.cart-product-name a, .cart-product-name a:hover, .cart-product-name a:focus, .cart-product-name a:visited{
   color: #4D4646;

}

.gross-weight{
  color: #4D4646;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
}

.cart-box-end{
  display: flex;
  justify-content: space-between;
  margin: 20px 0; 
}

.cart-price{
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 8px;
  font-size: 16px;
}


  @media screen and (max-width: 329px) {

    .cart-footer-container{
      padding: 20px;
    }

    .total-price{
      font-size: 18px;
    }


  }

  @media screen and (max-width: 360px) {

    .cart-footer-container{
      padding: 20px;
    }

    .total-price{
      font-size: 18px;
    }

    
  }



@media screen and  (max-width: 767px){

.cart-footer{
  position: fixed;
  width: 70% !important;
  bottom: 0;
  margin-left: 0;

}
.cart-footer-container{
 
  border-radius: 15px 15px 0 0;
  
}

.cart-head{
  margin-top: 20px;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px){

  .cart-footer{
    width: 94%;
  }
  .fav-remove-button{
  width: 100%;
}




}





/*----------6.Orders-------------*/

p{
  margin: 0 ;
}

.order-box{
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #E2D8D8;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;

}

.order-box-top{
  margin-top: 10px; 
  border-bottom: 1px solid #E2D8D8;
  display: flex;
  justify-content: space-between;
}

.order-no-top-text{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}

.order-no-text{
  font-size: 14px;
  color: #4D4646;
  margin-bottom: 12px;
}

.delivery-status{
  font-size: 14px;

}

.order-box-main{
  margin: 10px 0;
  font-weight: 400;

}
.order-box-main-container{
  margin-bottom: 10px;
}
.order-box-main-head{
  color: #4D4646;
  font-size: 15px;
  margin-bottom: 1px;
}
.order-no-main-text{
  font-size: 14px;
  color: #000;
  font-weight: 600;
  margin-bottom: 0;
}
.order-box-bottom{
  margin-bottom: 8px; 
  text-align: right;
}
.order-box-bottom button{
  background: #fff;
  border: 1px solid #E2D8D8;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 12px;
  color: #4D4646;
  margin-left: auto;

  
}

.order-box-bottom button i{
  padding-left: 5px;
  color: #4D4646;
}


.modal {
  display: none;  
  z-index: 1; 
  left: 0;
  top: 0;
  padding-top: 10px;
  width: 100vw;  
  height: 100vh; 
  margin: 0; 
  overflow: auto;  
  background-color: rgb(0,0,0);  
  background-color: rgba(0,0,0,0.4);  
  font-family: 'Montserrat', sans-serif;
  overflow-y: auto;
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 15px !important;
  border:none !important;
  width: 600px !important;
}

.order-modal{
  width: 100% !important;
  padding:  20px 10px;
}

.order-modal-top{
  display: flex;
  justify-content: space-between;
}
.close-btn i{
  color: #000 !important;
  font-size: 30px !important;
}
.close-btn{
  line-height: 0;
  height: 0;
}


.order-modal-status-main{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1px;
  color: #000000;
}

.order-modal-status-text{
  color: #4D4646;
  font-size: 15px;
  margin-bottom: 1px;
}

.order-summary{
  margin: 15px 0 ;

}

.head-table p{
  color: #000;
}

.order-summary-table{
  width: 100%;
  border-radius: 15px;
  border: 1px solid #E2D8D8;
  padding: 10px 20px 5px 20px;
  background:  rgba(233, 255, 171,0.8);
}
.order-summary-table p{
  margin-bottom: 10px;
  font-size: 14px;
}
.order-summary-table p.bold{
  font-weight: 600;
}
.head-table{
  text-align: center;
}

.order-summary-table-content{
  display: flex;
  justify-content:space-between;
}

.order-summary-total{
  text-align: right;
  width: 100%;
}

.order-summary-total p{
  font-size: 12px;
  font-weight: 600;
}

.order-info{
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

body.modal-open {
    overflow: hidden;
}

.mobile-tab i{
  color: #212529;
}






@media screen and (min-width: 768px) and (max-width: 1024px){


}

@media screen and (max-width: 767px){
 .modal-content {
    width: 100% !important;
    position: absolute !important;
    bottom: 0;
    border-radius: 15px 15px 0 0 !important;
  }

}

@media screen and (min-width:  376px) and (max-width: 420px){




}
@media screen and (min-width: 330px) and (max-width: 375px){

}
@media screen and (max-width: 329px) {

 
}


/*----------7.Product-page-------*/

.product-page-sec{
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}

.product-page-sec h5{
  font-size: 18px;
}

.product-page-image-big {
  width: 100%;
  height: 13rem;
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  background-image: url('./assets/images/placeholder.png');
}


.product-page-title {
  color: rgba(0,0,0,0.7);
  margin: 1rem 0;
 }
 .product-page-price {
  margin-bottom: 1rem;
}
.product-page-price .original-price{
  color: rgba(0,0,0,0.4);
  position: relative;
}

.product-page-price .original-price:before{
  content: " ";
  display: block;
  width: 95%;
  border-top: 2px solid rgba(255, 0, 0, 0.8);
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-7deg);
}

.product-page-price .offer-price{
  color: #333333;
  font-size: 1.4rem;
}

.product-page-desc{
     color: rgba(0,0,0,0.7);
     
}
.product-page-desc p{
  font-size: 13px;
}


.product-page-image-small img{
  width: 100%;
  max-width:13rem; 
  height: auto;
  border-radius: 10px;
}
.product-page-title-main{
  margin-bottom: 2rem;
}
.product-page-title-main h5{
  font-size: 1.3rem;
}
.pgmbd1{
  margin-top: 1rem;
}
.quantity {
  display: flex;
  padding: 0;

}
.quantity__minus,
.quantity__plus {
  display: block;
  width: 38.4px;
  height: 38.4px;
  margin: 0 5px;
  background: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  text-align: center;
  border: 1px solid   rgba(0,0,0,0.2);
  color: #8184a1;
  border-radius: 5px;
  line-height: 38.4px;
}
.quantity__minus:hover,
.quantity__plus:hover {
  color: #fff;
  background: #A6CC3B;
 text-decoration:  none;
 border: 1px solid   rgba(0,0,0,0.1);

} 
.quantity__minus:focus,
.quantity__plus:focus {
  color: #fff;
  background: #A6CC3B;
 text-decoration:  none;
 border: 1px solid   rgba(0,0,0,0.1);

} 

.quantity__input {
  width: 38.4px;
  height: 38.4px;
  pointer-events: none;
  margin: 0;
  padding: 0;
  border: 1px solid   rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: center;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
} 
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

.option-button {
  padding: 8px 12px;
  outline: none;
  border: none;
  margin-right: 10px;
  background-color: #D3D3D3;
  color: #000;
  font-size: 14px;
  border-radius: 8px; 
  display: block; 
}
.option-button i{
  display: none;
 

}

.option-button.active{
  background-color: #A6CC3B;
  color: #fff;
}

.option-button.active i {
  display: inline-block;
   -webkit-animation: slide .3s ease-out;
    -moz-animation: slide .3s ease-out;
}
@-webkit-keyframes slide {
      0% { opacity: 0; -webkit-transform: translateX(-100%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide {
      0% { opacity: 0; -moz-transform: translateX(-100%); }   
    100% { opacity: 1; -moz-transform: translateX(0); }
}

.cart-button, .cart-button:hover{
  padding: 11px 14px;
  outline: none;
  border: none;
  margin-right: 10px;
  background-color: #A6CC3B;
  color: #fff;
  font-size: 14px;
  border-radius: .5rem;

}

.cart-button i{
  font-size: 14px;
 position: relative;
    top: -2px;
}




.product-page-cart{
  width: 80%;
  justify-content: space-between;
  margin-bottom: 50px;
}
.product-page-cart h5{
  margin-top: 12px;
}

.product-main{
  margin-bottom: 2.5rem;
}

.product-page-image-big .fav-btn{
  position: absolute;
  right:   30px;
  top: 10px;
  background: #ccc;
  width: 35px;
  height: 35px;
  line-height: 30px;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  font-size: 18px;


}

.bi-heart{
  color: #fff;
}

.fav-btn.active{
  background: red;
 
}

#favBtn.bi-heart-fill{
  color: #fff;

}

.go-to-cart-button{
  display: none;

}

.go-to-cart-button.active {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 20px;
  z-index: 1;
}

.add-to-cart.active{
  display: none;
  
}

.go-to-cart-button-content{
  width: 87%;
  display: flex;
  background: #A6CC3B;
  justify-content: space-between;
  padding: 20px 16px;
  border-radius: 8px;
}

.go-to-cart-button-content p {
  color: #fff;
  margin-bottom: 0;

}

.go-to-cart-button-content p a, .go-to-cart-button-content p a:hover, .go-to-cart-button-content p  a:focus, .go-to-cart-button-content p a:visited{
  color: #fff;
}









@media screen and (min-width: 768px) and (max-width: 1024px){
   html{
      font-size: .85rem;
  }
  .product-page-cart{
  width: 100%;
}

.pgmbd1{
  margin-top: 1rem;
}
.weight p{
  font-size: 0.75rem;
   color: rgba(0,0,0,0.7);
  font-weight: 500;
}
}

@media screen and (min-width:  376px) and (max-width: 420px){
html{
      font-size: .85rem;
  }
  .product-page-cart{
  width: 100%;
}




}
@media screen and (min-width: 330px) and (max-width: 375px){
html{
      font-size: .85rem;

  }
  body{
    overflow-x: hidden;
  }
    .cart-btn{
  padding: 0.5rem ;
}
.product-page-cart{
  width: 100%;
}


}
@media screen and (max-width: 329px) {
html{
      font-size: .85rem;
  }
  .cart-btn{
  padding: 0.5rem ;
}
.product-page-cart{
  width: 100%;
}
 
}


.back{
  width: 100%;
  height: 60px;
  line-height: 60px;
  align-items: center;
  
  display: flex;
  justify-content: space-between;

}

header{
  background: #fff;
  border-bottom:   1px solid #E2D8D8;
}

.back a i{
  font-size: 24px;
  color: #212529;
}

.back a .web{
  font-size: 16px;
  padding-left: 5px;
  color: #212529;
}

.check-out-logo{
  font-size: 23px;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

.check-out-head h3{
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 1.2rem 0px 1.5rem;
  font-weight: 500;
  color: rgb(54, 54, 54);
}

.delivery-type-box{
  width: 100%;
  
}

.cf-border{
  border: 1px solid #E2D8D8;
  border-radius: 8px;
}

.delivery-type-box-content{
  padding: 16px 24px;
  display: flex;

}

.option-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.delivery-slot{
  width:  100%;
}

.sub-head {
  font-size: 18px;
  margin: 20px 0 15px 0;
 
}

.delivery-slot-boxes{
  width: 100%;
}

.delivery-slot-box{
  padding: 8px 15px;
  color: #787777;
  font-size: 14px;
}

.delivery-slot-box.active{
  border: 1px solid #A6CC3B;
  color: #A6CC3B;
}

.address-block{
  width: 100%;
}

.address-boxes{
  width: 100%;
}

.address-box{
  padding: 20px ;
  width: 250px;
}


.address-box h6{
  font-size: 15px;
  color: #787777;
  font-weight: 500;

}

.address-block .delivery-button{
    margin: 20px 0 15px 0;
}

.payment-block{
  width: 100%;
  padding: 16px 24px;
  margin-top: 20px;
}

.summary h4{
   font-size: 18px;
   margin-bottom: 15px;
}



.payment{
   margin-bottom: 1rem;
  width: 25rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem 2rem;
  border-radius: 15px;
  margin-right:  2rem;
  background-color: white;
  box-shadow:  -3px 3px 15px #ebebeb, 
                3px -3px 10px #ffffff,
                3px -3px 10px #f2f2f2, 
               -3px 3px 10px #ffffff;
}



.option-box label {
  font-size: 19px;
  color: rgb(28, 28, 28);
  font-weight: 450;
  margin-bottom: 0;
  
}

.place-order{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.place-order-price{
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 0;
  vertical-align: center;
  margin-top: 13px;
}

.place-order-button{
  background: #A6CC3B;
  border-radius: 8px;
  height: 100%;
}

.place-order-button p{
  margin-bottom: 0;
  color: #fff;
  padding: 10px;
}





.cont-box {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.cont-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.cont-box:hover input ~ .checkmark {
  background-color: #ccc;
}

.cont-box input:checked ~ .checkmark {
  background-color:  #A6CC3B;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cont-box input:checked ~ .checkmark:after {
  display: block;
}

.cont-box .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}

.check-out-box{
   margin-bottom: 1rem;
  width: 15rem;
  padding: 1.75rem 1.2rem;
  border-radius: 15px;
  margin-right:  2rem;
  background-color: white;
  box-shadow:  -3px 3px 15px #ebebeb, 
                3px -3px 10px #ffffff,
                3px -3px 10px #f2f2f2, 
               -3px 3px 10px #ffffff;
}

.final-btn{
  padding: 0.6rem 1rem;
  width: 100%;
  outline: none;
  border: none;
  margin-left:  10px;
  background-color: #A6CC3B;
  color: #fff;
  font-size: 1rem;
  border-radius: .5rem;
}

.myaddress{
  display: flex;
  justify-content: space-between;
}


.slick-next {
  display: none !important;
}

.address-box:focus{
  outline: none !important;
}

.success-page{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.success-page-content{
  width: 300px;
  text-align: center;
  padding: 30px 0;
}

.tick{
  margin-right: auto;
  margin-left: auto;
  width: 80px;
  height: 80px;
  background: #A6CC3B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.tick i {
  font-size: 40px;
  color: #fff;
}

.success-page a, .success-page a:hover, .success-page a:focus, .success-page a:visited{
  background: #A6CC3B;
  border-radius: 8px;
  color: #fff;
  padding: 10px 16px;
  font-size: 14px;
  margin-top: 20px;
}
.success-page p{
  font-size: 12px;
  padding-bottom: 15px;
}

.success-page h4{
  font-size: 18px;
  margin-bottom: 20px;
}

.select-icon {
  display: none;
  float: right;
  margin-top: -10px;
  color: #A6CC3B;
}

.delivery-box.active{
  border: 1px solid #A6CC3B;
}


.delivery-box.active .select-icon{
  display: block;
}

.address-box.active{
  border: 1px solid #A6CC3B;
}


.address-box.active .select-icon{
  display: block;
}


@media screen and  (max-width: 767px){
 .option-box{
  flex-direction: column;
}
.option-box label {
  font-size: 17px;
}

.check-out-logo{
  font-size: 20px;
}

.categories .slick-slide{
  padding: 10px 0;
}

.option-box label.first {
  margin-bottom: 12px;
}

.sub-head{
  margin-top: 25px;
  font-size: 16px;
}
.success-page-content{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.var{
  margin-bottom: 50px;
}
}

.address-box>div>h6{
  line-height: 1.8;
}